@import 'variables';
@import 'mixins';
@import 'bootstrap_custom';

// Font Impact

@font-face {
  font-family: 'Impact';

  src: url('../fonts/impact.eot');
  src: url('../fonts/impact.eot?#iefix') format('embedded-opentype'), url('../fonts/impact.woff2') format('woff2'), url('../fonts/impact.woff') format('woff'), url('../fonts/impact.ttf') format('truetype'), url('../fonts/impact.svg#glyphicons_halflingsregular') format('svg');
}

// Main space

.m-l-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.space-bottom {
  margin-bottom: 45px;
}

.space-double-bottom {
  margin-bottom: 90px;
}

.m-10 {
  margin: 10px 0;
}

.m-20 {
  margin: 20px 0;
}

.p-r-none {
  padding-right: 0;
}

.responsive-img {
  max-width: 100%;
  width: 100%;
}

.line-orange {
  border-top: 2px solid $orange;
}

.copy {
  color: $black-medium;
  font-weight: bold;
  padding-left: 20px;
}

// Styles

body {
  background-color: $backgound-color;
  font-family: $font-family;
}

.main-content {
  min-height: 400px;
  .wrapper-content {
    background-color: $white;
    padding: 90px 0;
    &.bg-transparent {
      background-color: $transparent;
    }
    &.small-space {
      padding: 25px 0;
    }
    &.no-space {
      padding: 0;
    }
  }
}

.new-main {
  color: $black-medium;
  font-size: 24px;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  .new-cover-image {
    background-size: cover;
    height: 390px;
    margin-bottom: 40px;
  }
  h1 {
    font-weight: bold;
    font-size: 26px;
    margin: 0;
  }
  .wrap-new {
    padding: 0 32px;
  }
  p {
    margin-bottom: 20px;
  }
  ul {
    &.new-list {
      padding-left: 30px;
      li {
        list-style: initial;
        color: $green;
        * {
          color: $black-medium;
        }
        h3 {
          font-weight: bold;
        }
      }
    }
  }
}

.navbar-top {
  margin: 0;
  min-height: 40px;
  .navbar-text {
    color: $white;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .navbar-nav {
    > li {
      float: left;
      > a {
        color: $white;
        font-size: 18px;
        font-weight: lighter;
        line-height: inherit;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
  .notif {
    display: block;
    float: left;
  }
  > li {
    float: left;
  }
  .dropdown-menu {
    background-color: #080808;
    left: auto;
    padding: 0;
    right: 0;
    text-align: center;
    > li {
      > a {
        border-top: 1px solid #fff;
        color: #fff;
        &:hover, &:focus {
          color: #080808;
        }
      }
    }
  }
}

.navbar-main {
  min-height: 128px;
  border-bottom: 6px solid $green;
  @include gradient(#e7e8e9);
  @include box-shadow(12px 0 10px -18px #999, -12px 0 10px -18px #999);
  .navbar {
    border: medium none;
    padding: 39px 0;
    margin-bottom: 0;
    .navbar-header {
      a {
        position: relative;
        padding: 0;
        margin: 0;
        img {
          position: absolute;
          bottom: 0;
          left: 50px;
          width: 80px;
        }
      }
    }
    .navbar-nav {
      li {
        a {
          color: $gris;
          background-color: transparent;
          padding-bottom: 11px;
          border-bottom: 4px solid transparent;
          &:hover, &:focus {
            color: $green;
            background-color: transparent;
            border-color: $orange;
          }
        }
        &.active {
          a {
            color: $green;
            background-color: transparent;
            border-color: $orange;
          }
        }
      }
    }
    &.navbar-default {
      background-color: transparent;
    }
  }
}

.carousel-caption {
  .bg-caption {
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin: 0 0 1px;
    padding: 10px 20px;
    h2 {
      margin: 0;
      font-size: 22px;
      text-transform: uppercase;
    }
    p {
      color: #fefefe;
      font-size: 15px;
      margin: 0;
    }
  }
}

.last-news {
  position: relative;
  .top-news {
    height: 50px;
    background-color: $green;
    h3 {
      color: $white;
      float: left;
      font-size: 20px;
      line-height: 50px;
      margin: 0 0 0 50px;
      text-transform: uppercase;
    }
    a {
      color: $white;
      float: right;
      font-size: 16px;
      line-height: 50px;
      margin-right: 100px;
    }
  }
  .body-new {
    background-color: $white;
    figure {
      margin-bottom: 25px;
      img {
        max-width: 100%;
        max-height: 215px;
      }
    }
    .wrap-new {
      height: 130px;
      padding: 0 30px;
      text-align: center;
      h3 {
        color: $green;
        font-size: 23px;
        margin: 0 0 10px;
      }
      p {
        margin: 0;
        color: $gray;
        font-size: 16px;
      }
    }
  }
  .owl-theme {
    .owl-nav {
      right: 0;
      top: -50px;
    }
  }
}

.events-schedule {
  height: 225px;
  .top-schedule {
    height: 35px;
    background-color: $green;
    h3 {
      color: $white;
      float: left;
      font-size: 17px;
      line-height: 35px;
      margin: 0 0 0 30px;
      text-transform: uppercase;
    }
    a {
      color: $white;
      float: right;
      font-size: 16px;
      line-height: 35px;
      margin-right: 35px;
    }
  }
  .body-schedule {
    background-color: transparent;
    height: 140px;
    .ico-schedule {
      figure {
        padding: 25px 0;
        text-align: center;
        img {
          width: 90px;
          height: 90px;
        }
      }
    }
    .wrap-schedule {
      padding-top: 25px;
      padding-bottom: 25px;
      h4 {
        color: $green;
        font-size: 28px;
        margin: 6px 0;
      }
      p {
        color: $brown-light;
        font-size: 13px;
        margin: 0;
      }
    }
  }
  .foot-schedule {
    .box-bot {
      background-color: $gray-ligther;
      border-left: 1px solid $white;
      color: $black-ligth;
      font-size: 17px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      &:first-child {
        border-left: medium none;
      }
    }
  }
  .owl-theme {
    .owl-nav {
      bottom: 0;
      right: 0;
    }
  }
}

.cultura-organizacional {
  height: 225px;
  position: relative;
  .cover-cultura {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  @include gradient($white, $white-dark);
  .wrapper-cultura {
    height: 175px;
    padding-top: 70px;
    h5 {
      margin: 0;
      font-size: 25px;
      .c1 {
        color: $gris-dark;
      }
      .c2 {
        color: $gris-light;
      }
      .c3 {
        color: $green;
        font-size: 29px;
      }
    }
  }
  .bot-cultura {
    background-color: $green;
    height: 50px;
    a {
      color: $white;
      display: block;
      height: 50px;
      padding: 15px 0;
      text-align: center;
      span {
        border-left: 1px solid $green-light;
        display: block;
      }
    }
    .col-xs-4 {
      &:first-child {
        a {
          span {
            border-left: medium none;
          }
        }
      }
    }
  }
}

.growing {
  background-image: url("../images/grow-up.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  position: relative;
  .wrapper-growing {
    @include background-opacity($green, 0.9)
    bottom: 0;
    height: 90px;
    left: 0;
    position: absolute;
    right: 0;
    .grow-up {
      h5 {
        color: $orange-lighter;
        font-size: 30px;
        line-height: 90px;
        margin: 0;
      }
    }
    .message-grow-up {
      padding: 15px 0;
      p {
        color: $white;
        font-size: 22px;
        line-height: 30px;
        margin: 0;
      }
    }
  }
}

.lideres {
  min-height: 260px;
  .body-lideres {
    .lider-box {
      .bg-lider {
        position: relative;
        .cover-profile {
          height: 190px;
          background-size: cover;
        }
        a {
          @include background-opacity($green, 0.7);
          @include transition(all 0.5s ease 0s);
          bottom: 0;
          color: $white;
          display: block;
          font-size: 24px;
          left: 0;
          line-height: 24px;
          opacity: 0;
          padding: 72px 0;
          position: absolute;
          right: 0;
          text-align: center;
          top: 0;
          span {
            font-size: 14px;
          }
          &:hover {
            text-decoration: none;
          }
        }
        &:hover {
          a {
            opacity: 1;
          }
        }
      }
    }
  }
  .owl-theme {
    .owl-nav {
      bottom: 0;
      left: -150px;
    }
  }
}

.box-190 {
  background-color: $white;
  height: 220px;
  padding: 15px 15px 15px 30px;
  .wrap-190 {
    height: 190px;
    position: relative;
    h5 {
      margin: 0;
      font-size: 24px;
      color: $orange-lighter;
      line-height: 25px;
      padding-top: 15px;
      padding-bottom: 10px;
      span {
        color: $gris-darker;
        font-size: 26px;
      }
    }
    p {
      color: $gris-lighter;
      font-size: 12px;
      margin: 0;
      &.date-conocimiento {
        margin-top: 5px;
      }
      time {
        color: $green;
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 0;
    }
  }
}

.gallery-boxes {
  h4 {
    color: $black;
    font-size: 36px;
    margin: 0 0 50px;
    text-transform: uppercase;
  }
  .view-more-gallery {
    .btn {
      @include box-shadow(-1px 1px 1px $gray-ligth);
      border: medium none;
      border-radius: 0;
      color: $black-light;
      font-size: 18px;
      height: 40px;
    }
  }
  .owl-theme {
    .owl-nav {
      bottom: -40px;
      left: 85px;
      [class*='owl-'] {
        background-color: $green;
        color: $white;
        height: 40px;
        line-height: 40px;
        margin: 0 1px;
        &:hover {
          background-color: $green;
        }
      }
    }
  }
}

.wrap-box-hover {
  @include box-shadow(0 0 3px $gray-ligth);
  background-color: $white;
  padding: 4px;
  .bg-img-hover {
    background-size: cover;
    height: 220px;
  }
  .box-img-hover {
    position: relative;
  }
  .body-box-img {
    @include transition(all 0.5s ease 0s);
    bottom: 0;
    color: $white;
    cursor: pointer;
    display: block;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    a {
      color: $white;
      font-size: 12px;
      padding: 0 20px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &:hover {
    .body-box-img {
      opacity: 1;
    }
  }
}

.overflow-text {
  text-overflow: ellipsis;
}

.gallery-events {
  .wrap-box-hover {
    margin: 15px 0;
    .body-box-img {
      @include background-opacity($green, 0.7);
      a {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
  &.gallery-190 {
    .wrap-box-hover {
      padding: 2px;
      background-color: $orange;
      .bg-img-hover {
        height: 190px;
      }
    }
  }
}

.gallery-videos {
  .wrap-box-hover {
    margin: 15px 0;
    .body-box-img {
      @include background-opacity($orange, 0.7);
      a {
        font-size: 19px;
        line-height: 19px;
        figure {
          display: block;
          margin: 0 auto 15px;
          width: 80px;
          img {
            display: block;
          }
        }
      }
    }
  }
}

.box-sidebar {
  margin-top: 50px;
  &:first-child {
    margin-top: 0;
  }
  .top-sidebar {

  }
  .body-sidebar {
    padding: 15px 0;
    .links-resources {
      li {
        padding-bottom: 10px;
        a {
          color: $black-light;
          display: block;
          font-size: 30px;
          &.bg {
            background-repeat: no-repeat;
            background-position: right top;
            line-height: 30px;
          }
          &.bg-png {
            background-image: url('../images/bg-png.png');
          }
        }
      }
    }
    &.md-sidebar {
      li {
        a {
          font-size: 18px;
        }
      }
    }
    &.no-space {
      li {
        padding-bottom: 0;
      }
    }
  }
}

.notifications {
  padding: 0 25px;
  .top-notif {
    margin-bottom: 25px;
    h3 {
      color: $black;
      font-size: 20px;
      line-height: 30px;
      img {
        margin-right: 10px;
        vertical-align: top;
      }
    }
  }
  table {
    thead {
      tr {
        background-color: $white-darkest;
        th {
          color: $green;
          font-size: 16px;
          font-weight: normal;
          &.date {
            width: 15%;
          }
          &.status {
            width: 10%;
          }
          &.message {
            width: 75%;
          }
        }
      }
    }
    > tbody {
      > tr {
        td {
          &:nth-child(1) {
            p {
              color: $black-medium;
              font-size: 10px;
              margin: 0 0 5px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          &:nth-child(2) {
            .label {
              border-radius: 0;
              font-size: 100%;
            }
          }
          &:nth-child(3) {
            p {
              margin: 0;
            }
          }
        }
        &:nth-of-type(2n) {
          background-color: $white-dark;
        }
        > td {
          padding-top: 15px;
          padding-bottom: 15px;
          vertical-align: middle;
          a {
            color: $light-blue;
          }
        }
      }
    }
  }
  .pagination-notif {
    margin: 30px 0;
  }
}

.social {
  li {
    display: inline-block;
    margin-left: 5px;
    &:first-child {
      margin-left: 0;
    }
    a {
      display: block;
      width: 35px;
      height: 35px;
      background-color: $green;
      border-radius: 50%;
      color: $white;
      font-size: 18px;
      line-height: 35px;
      text-align: center;
      opacity: 0.75;
      margin: 5px 0;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.sidebar-inverse {
  .box-sidebar {
    .top-sidebar {
      background-color: $green;
      font-weight: bold;
      padding: 20px 30px;
      h3 {
        color: $white;
        font-size: 18px;
      }
    }
    .body-sidebar {
      @include gradient($white, $gray-ligth);
      padding: 40px 25px;
      h4 {
        color: $green;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      ul {
        padding-left: 10px;
        li {
          a {
            color: $gris-dark;
            display: block;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.recursos {
  .top-recursos {

  }
  .body-recursos {
    padding: 15px 0;
    .box-recurso {
      padding: 5px 0;
      .cover-recurso {
        background-size: cover;
        height: 180px;
      }
      .wrap-recurso {
        padding: 15px 0;
        h2 {
          color: $black-light;
          font-size: 24px;
        }
        p {
          color: $black-lighter;
          font-size: 14px;
          &.post-meta {
            font-style: italic;
          }
        }
      }
    }
    .view-more {
      margin-top: 35px;
    }
  }
}

.boxes-more-views {
  .box-more-view {
    border-top: 2px solid $orange;
    padding: 20px 0;
    &:first-child {
      border-top: medium none;
    }
    .link-more-view {
      display: block;
      img {
        width: 100%;
      }
    }
    .wrap-more-view {
      a {
        color: $black-light;
        font-size: 14px;
      }
    }
  }
}

.faq {
  .cover-faq {
    background-size: cover;
    height: 480px;
  }
  .wrap-faq {
    padding: 0 25px;
  }
  .cont-faq {
    padding: 40px 0 35px;
    h2 {
      color: $green;
      font-size: 36px;
      margin-bottom: 10px;
    }
    p {
      color: $black-light;
      font-size: 22px;
    }
  }
  .faqs {
    h3 {
      padding: 10px 50px;
      background-color: $green;
      color: $white;
      font-size: 17px;
      display: inline-block;
    }
    .panel-group {
      margin-top: 10px;
    }
    .panel {
      @include box-shadow(none);
      background-color: $transparent;
      border: medium none;
      padding-left: 10px;
    }
    .panel-default > .panel-heading {
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url('../images/bg-point.png');
      background-color: $transparent;
    }
  }
}

.comunicate {
  height: 175px;
  margin: 120px 0 50px;
  overflow: hidden;
  .bg-comunicate {
    background-color: $white;
  }
  .cover-comunicate {
    background-position: left top;
    background-size: cover;
    height: 175px;
  }
  .wrap-comunicate {
    padding: 35px 60px 30px;
    h5 {
      color: $gris-dark;
      font-size: 18px;
    }
    h3 {
      color: $green-light;
      font-size: 30px;
    }
    h2 {
      color: $orange;
      font-size: 36px;
      font-style: italic;
      font-weight: bold;
      margin-top: 15px;
      text-align: center;
      a {
        color: $orange;
      }
    }
  }
}

.data-more {
  color: $gray-medium;
  font-size: 12px;
  > span {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.list-links {
  a {
    color: $black;
    display: block;
    font-size: 14px;
    margin: 5px 0;
  }
  .badge {
    float: right;
  }
}

.wrap-medium {
  .cover-medium {
    background-size: cover;
    height: 270px;
  }
  .content-medium {
    h2 {
      margin-top: 22px;
    }
    p {
      color: $black-light;
      font-size: 18px;
      font-weight: bold;
      margin: 15px 0;
    }
  }
}

.table-view {
  height: 100%;
  display: table;
  width: 100%;
  .vertical-align {
    display: table-cell;
    vertical-align: middle;
  }
}

.conocimientos {
  .img-conocimiento {
    padding-top: 40px;
    img {
      margin-left: -10px;
      width: 100%;
    }
  }
  .owl-theme {
    .owl-nav {
      bottom: 0;
      right: 0;
    }
  }
}

.btn {
  &.btn-green {
    color: $white;
    background-color: $green;
    padding: 4px 20px;
    &:hover {
      background-color: $green-light;
    }
  }
  &.btn-box {
      border-radius: 0;
  }
  &.btn-block {
    width: 100%;
  }
  &.btn-lg {
    color: $white;
    font-size: 30px;
  }
}

.title-orange-line {
  border-bottom: 2px solid $green;
  color: $orange;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  padding: 0 0 15px 20px;
}

.title-green-line {
  border-bottom: 2px solid $orange;
  color: $green;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  padding: 0 0 15px 20px;
  &.lg-title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 5px;
  }
  &.md-title {
    font-size: 24px;
    font-weight: bold;
    padding-left: 0;
    padding-bottom: 10px;
  }
}

.title-orange {
  background-color: $orange-lighter;
  color: $white;
  display: inline-block;
  font-size: 17px;
  height: 35px;
  line-height: 35px;
  margin: 0 0 10px;
  padding: 0 25px;
}

.footer {
  .top-footer {
    background-color: $green-lighter;
    padding: 40px 0 25px;
    .foot-head {
      text-transform: uppercase;
      color: $orange;
      font-weight: bold;
      margin-bottom: 8px;
    }
    a {
      color: $green-white;
      &:hover {
        text-decoration: none;
      }
    }
    .foot-cont {
      color: $green-white;
    }
  }
  .bot-footer {
    background-color: $green-dark;
    color: $gris-medium;
    padding: 20px 0;
  }
}

.capacitaciones {
  color: $black-lighter;
  .tab-content {
    border-left: 1px solid $gray-medium;
    padding: 60px 50px;
  }
  .nav-tabs {
    padding: 60px 0;
    &> li > a {
      &.leones {
        background-color: $orange-lion;
        span {
          color: #f5ee31;
          font-size: 18px;
        }
        &:focus, &:hover {
          background-color: $orange-lion;
        }
      }
      &.capacitadores {
        background-color: $green-lion;
        img {
          display: block;
          margin: 0 auto 5px;
        }
        span {
          color: #086d3a;
          font-size: 14px;
          line-height: 14px;
        }
        &:focus, &:hover {
          background-color: $green-lion;
        }
      }
    }
    &.tabs-left {
      border: medium none;
      li {
        padding-top: 60px;
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
  .nav-tabs > li {
    &.active {
      .box-capac {
        opacity: 1;
      }
    }
  }
  .box-capac {
    width: 150px;
    height: 150px;
    opacity: 0.5;
    padding-top: 25px;
    text-align: center;
    margin: 0 auto;
    span {
      display: inline-block;
    }
  }
  .leones {
    .top-capacitaciones {
      h2 {
        color: $orange-lion;
      }
    }
    .box-cap {
      h3 {
        color: $orange-lion;
      }
    }
  }
  .capacitaciones {
    .top-capacitaciones {
      h2 {
        color: $green-lion;
      }
    }
    .box-cap {
      h3 {
        color: $green-lion;
      }
    }
  }
  .top-capacitaciones {
    margin-bottom: 60px;
    h2 {
      font-size: 38px;
      margin: 0;
    }
    p {
      font-size: 25px;
    }
  }
  .cover-capacitaciones {
    height: 105px;
    width: 105px;
    margin: 0 auto;
  }
  .box-cap {
    margin: 12px 0;
    h3 {
      font-size: 14px;
      font-weight: bold;
      margin: 14px 0 0;
    }
    p {
      font-size: 12px;
      margin: 0;
    }
  }
}

.box-gallery {
  margin-top: 45px;
  &:first-child {
    margin-top: 0;
  }
  .cont-box-hover {
    p {
      margin: 0;
    }
  }
  .cont-buttom {
    margin-top: 35px;
  }
}

.album-gallery {
  .popup-gallery {
    padding: 0 25px;
  }
  .title-gallery {
    padding: 0 20px;
    margin-bottom: 15px;
    h2 {
      color: $orange;
      font-size: 18px;
      span {
        color: $green;
      }
    }
  }
  .cont-gallery {
    background-color: $transparent;
    padding: 2.5px 10px;
  }
  .box-gallery {
    background-color: #f6e08f;
    cursor: pointer;
    margin: 5px;
    padding: 2px;
    float: left;
    &:hover {
      background-color: #80bd26;
    }
    .cover-box {
      background-position: center top;
      background-size: cover;
      opacity: 1;
      height: 110px;
      width: 110px;
      display: block;
    }
    @media screen and (min-width: 768px) {
      margin: 10px;
      .cover-box {
        height: 116px;
        width: 116px;
      }
    }
  }
  .gallery-download {
    margin: 20px 0;
    .btn, a {
      color: $green;
      font-size: 12px;
    }
  }
  .main-img-gallery {
    padding: 25px 0;
  }
}

.tiens-carousel {
  margin-bottom: 100px;
  .carousel-control {
    &.left, &.right {
      background-image: none;
    }
  }
  .carousel-indicators {
    bottom: -80px;
    li {
      background-color: $green;
      border-color: $green;
      &.active {
        background-color: $orange;
        border-color: $orange;
      }
    }
  }
  .title-caption {
    margin-top: 20px;
    h2 {
      color: $green;
      font-size: 25px;
      font-weight: bold;
    }
  }
  .item-video {
    cursor: pointer;
    position: relative;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.75;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: center center;
      background-image: url('../images/play-main-video.png');
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
  .carousel-video {
    height: 450px;
    display: none;
    iframe {
      height: 450px;
      width: 100%;
    }
  }
  .carousel-control {
    bottom: auto;
    top: 50%;
  }
}

.box-section {
  margin-bottom: 40px;
  .cont-box-section {
    padding: 10px 0;
    .wrap-box-section {
      padding: 10px 0;
      .desc-box-section {
        margin-bottom: 2px;
        p {
          color: $black-medium;
          font-size: 14px;
          margin: 0;
        }
      }
      h5 {
        color: $black;
        font-size: 14px;
        margin-bottom: 10px;
      }
      a {
        display: block;
        margin-bottom: 10px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 190px;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0.5;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 40px auto;
          background-image: url('../images/play-video.png');
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

// Responsive

@media screen and (min-width: 768px) {
  .navbar-main {
    .navbar {
      .navbar-collapse {
        margin-left: 200px;
      }
    }
  }
  .new-main {
    padding-left: 70px;
    padding-right: 70px;
  }
  .sidebar-inverse {
    .box-sidebar {
      .body-sidebar {
        min-height: 600px;
      }
    }
  }
}

.box-eventos {
  .list-eventos {
    background-color: $white;
    padding: 0 50px;
    .wrapper-list-eventos {
      padding: 35px 0 55px 0;
      .box-evento {
        border-top: 1px solid $orange;
        padding: 30px 0;
        &:first-child {
          border-top: medium none;
        }
        .cover-evento {
          background-size: cover;
          height: 160px;
          margin-bottom: 15px;
        }
        h3 {
          color: $green;
          font-size: 18px;
          margin: 0 0 5px;
        }
        h2 {
          color: $orange;
          font-size: 24px;
          font-weight: bold;
          margin: 0 0 5px;
        }
        p {
          color: $black-lighter;
          font-size: 20px;
          margin: 0;
        }
        p.post-meta, h4 {
          color: $black-medium;
          font-size: 18px;
          margin: 0;
        }
      }
    }
  }
  .pagination-eventos {
    margin-top: 40px;
  }
}

.box-new {
  .list-news {
    position: relative;
    .top-news {
      margin-bottom: 40px;
      h4 {
        background-color: #f3be00;
        color: $white;
        font-size: 25px;
        height: 50px;
        line-height: 50px;
        margin: 0;
        text-align: center;
        width: 100%;
      }
    }
  }
  .news-pagination {
    margin-top: 80px;
    text-align: center;
  }
}

.box-new .wrapper-list-news {
    padding: 0;
}

.box-new article.new {
    position: relative;
    margin-top: 45px;
}

.box-new article.new:first-child {
    margin-top: 0;
}

.box-new article.new .cover-new {
    background-size: cover;
    height: 230px;
}

.box-new article.new .new-content {
  margin-top: 20px;
  padding: 0 40px;
}

.box-new article.new .new-content h2 {
    color: #1ba33a;
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.box-new article.new .new-content p {
    color: #2b2b2b;
    font-size: 16px;
    margin: 0;
}

.box-new article.new .more-data {
    margin-top: 30px;
    padding-left: 40px;
}

.box-new article.new .more-data .post-meta {
    color: #ffc423;
    font-size: 14px;
    margin: 0;
}

.box-new .btn.btn-green.btn-box {
    border-radius: 0;
    font-size: 16px;
}

.box-new .pagenavi-list-news {
    margin-top: 60px;
}

// Owl Styles

.owl-theme {
  .owl-nav {
    position: absolute;
    margin: 0;
    [class*='owl-'] {
      background-color: transparent;
      border-radius: 0;
      color: $gray-ligth;
      font-size: 35px;
      height: 50px;
      margin: 0;
      padding: 0 16px;
      &:hover {
        background-color: transparent;
        color: $orange-ligth;
      }
    }
  }
  .owl-dots {
    .owl-dot {
      span {
        background-color: $green;
      }
      &.active, &:hover {
        span {
          background-color: $orange
        }
      }
    }
  }
}

// Toastr Custom

.toast-info {
  background-color: #949393;
}

.toast-top-right {
  right: 0;
  top: 60px;
}

#toast-container {
  > div {
    background-position: 30px center;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    font-style: italic;
    padding-left: 100px;
    width: 340px;
  }
  > .toast-info {
    background-image: url('../images/toast-info.png') !important;
  }
}
